<div class="row">
    <div class="col-md-12">
        <h3 class="page-header">
            Detalle de Reserva
        </h3>
    </div>
</div>

<div class="row margin-bottom-20">
    <div class="col-md-6">
        <h5><strong>Usuario: </strong> {{ reserve.user }}</h5>
        <h5><strong>Cantidad de Personas: </strong> {{ reserve.people }}</h5>
    </div>
    <div class="col-md-6">
        <h5><strong>Hora: </strong> {{ reserve.date }}</h5>
        <h5><strong>Pagado: </strong> {{ reserve.paid }}</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary pull-right">Imprimir</button>
    </div>
</div>