<div class="row">
    <div class="col-md-12">
        <h3 class="page-header">
            {{ restaurant.name }}
            <a class="btn btn-primary pull-right" ui-sref="home.restaurant.reserve({restaurantId: restaurant.id})">Reservar</a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-8">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li ng-repeat="picture in restaurant.pictures" data-target="#carousel-example-generic" data-slide-to="{{ $index }}" class="{{ $index == 0 ? 'active' : '' }} == 0 ? 'active' : '' }}"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div ng-repeat="picture in restaurant.pictures" class="item {{ $index == 0 ? 'active' : '' }}">
                    <img ng-src="{{ picture.url }}" alt="...">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <h4>Descripción</h4>
        <p class="text-justify">{{ restaurant.description }}</p>
        <h4>Ubicación</h4>
        <p>{{ restaurant.address }}</p>
        <div class="text-center">
            <img ng-src="assets/img/misc/map.png" class="img-responsive" alt="">
        </div>

    </div>
    <div class="col-md-4">
        <h4>Carta</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in restaurant.menu">
                    <td>{{ item.name }}</td>
                    <td>S/.{{ item.price }}</td>
                </tr>
            </tbody>
        </table>
        <h4>Comentarios</h4>
        <ul>
            <li ng-repeat="review in restaurant.reviews" class="">
                <p><strong>{{ review.name }}</strong><br>{{ review.comment }}</p>
            </li>
        </ul>
    </div>
</div>